name: main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: null
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install poetry==1.6.1
          pip install cookiecutter==2.3.0
      - name: Run the cookiecutter
        run: cookiecutter --no-input .
      - name: Check the rendered cookiecutter passes validation
        env:
          PYTHONPATH: .
        run: |
          cd test
          poetry install
          poetry run inv verify
